<app-header>
  <div class="content-body card vh-100">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="#" style="color: #e82687">MYACCOUNT</a>
            </li>
            <li class="breadcrumb-item active text-dark" aria-current="page">
              TRANSACTIONS
            </li>
          </ol>
        </nav>
        <!-- <h4 class="mg-b-0 ">{{ title }}</h4> -->
      </div>
    </div>

    <div>
      <div class="mg-t-10 mt-sm-3">
        <div class="card mg-b-10">
          <div
            class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0 mb-4"
          >
            <div>
              <h6 class="mg-b-5" style="color: #041f79">TRANSACTIONS</h6>
              <!-- <p class="tx-13 tx-color-03 mg-b-0">Your sales and referral earnings over the last 30 days</p> -->
            </div>
            <div class="d-flex mg-t-20 mg-sm-t-0">
              <div class="btn-group flex-fill">
                <button class="btn btn-white btn-xs active">Range</button>
                <button class="btn btn-white btn-xs">Period</button>
              </div>
            </div>
          </div>
          <!-- card-header -->
          <div class="table-responsive mb-2">
            <table class="table table-dashboard mg-b-0">
              <thead>
                <tr>
                  <th class="text-right">ID</th>
                  <th>Date</th>
                  <th class="">Status</th>
                  <th class="">Amount</th>
                  <th class="">Amount Charged</th>
                  <th class="">CustomerID</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>{{ transactions?.date }}</td>
                  <td>{{ transactions?.status }}</td>
                  <td>{{ transactions?.amount }}</td>
                  <td>{{ transactions?.amountCharged }}</td>
                  <td>{{ transactions?.customerId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table-responsive -->
        </div>
        <!-- card -->
      </div>
      <!-- col -->
    </div>

    <div class="alert alert-primary" role="alert">
      You have no transactions to show yet!
    </div>
  </div>
</app-header>
