<app-header>
  <div class="content-body card vh-100">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="#" style="color: #e82687">MYACCOUNT</a>
            </li>
            <li class="breadcrumb-item active text-dark" aria-current="page">
              TRANSACTION HISTORY
            </li>
          </ol>
        </nav>
        <!-- <h4 class="mg-b-0 ">{{ title }}</h4> -->
      </div>
    </div>

    <div >
      <div class="mg-t-10 mt-sm-3">
        <div class="card mg-b-10">
          <div
            class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0 mb-4"
          >
            <div>
              <h6 class="mg-b-5" style="color: #041f79">TRANSACTIONS</h6>
              <!-- <p class="tx-13 tx-color-03 mg-b-0">Your sales and referral earnings over the last 30 days</p> -->
            </div>
            <div class="d-flex mg-t-20 mg-sm-t-0">
              <div class="btn-group flex-fill">
                <label for="sort mr-2">Filter Transactions: </label>
                <select (change)="sortTransactions()" class="form-select form-select-sm" name="sort" aria-label=".form-select-sm example" [(ngModel)]="sort">
                  <option selected >Filter Transactions</option>
                  <option value="1">Past 1 Day</option>
                  <option value="7">Past 7 Days</option>
                  <option value="14">Past 14 Days</option>
                  <option value="15">Past 30 Days</option>
                </select>
              </div>
            </div>
          </div>
          <!-- card-header -->
          <div class="table-responsive mb-2">
            <table class="table table-dashboard mg-b-0">
              <thead>
                <tr>
                  <th>Customer ID</th>
                  <th class="">Product Amount</th>
                  <th class="">Amount Charged</th>
                  <th class="">Transaction Status</th>
                  <th class="">Transaction Date</th>
                </tr>
              </thead>
              <tbody *ngIf="!loader && transactions !=null">
                <tr *ngFor="let transaction of transactions">
                  <td>{{ transaction?.customer_id }}</td>
                  <td>{{ transaction?.product_amount }}</td>
                  <td>{{ transaction?.amount_charged}}</td>
                  <td *ngIf="!checkStatus(transaction?.transaction_status).status; else  success"><span class="badge badge-danger">{{ checkStatus(transaction?.transaction_status).title }}</span></td>
                  
                  <ng-template #success>
                    <td><span class="badge badge-success">{{ checkStatus(transaction?.transaction_status).title }}</span></td>
                  </ng-template>

                  <td>{{ convertDate(transaction?.transaction_date) }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div class="accordion" id="accordionExample">
            <div class="card" *ngFor="let transaction of transactions">
              <div class="card-header p-0 mb-2" id="headingOne">
                <h6 class="mb-0 m-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" attr.data-target="#{{ convertTarget(transaction?.transaction_date) }}" aria-expanded="true" attr.aria-controls="{{ transaction?.transaction_date }}">
                   {{ transaction?.transaction_date }}
                  </button>
                </h6>
              </div>
          
              <div id="{{ convertTarget(transaction?.transaction_date) }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
                </div>
              </div>
            </div>
            
          </div> -->
          <!-- table-responsive -->
        </div>
        <!-- card -->
      </div>
      <!-- col -->
      <div>
        <h2>{{ transactions?.customer_id }}</h2>
      </div>
    </div>

    <div *ngIf="!loader && !transactions" class="alert alert-primary" role="alert">
      No transactions to show yet!
    </div>

    <div *ngIf="loader" class="d-flex justify-content-center">
     <div class="text-center mb-5">
        <ion-spinner name="lines"></ion-spinner>
        <p>Loading Transactions....</p>
      </div>
    </div>

  </div>


</app-header>
