<app-header>
  <div class="content-body card vh-100">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
      <div class="page-title">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="" style="color: hsl(226, 87%, 30%)">MY ACCOUNT</a>
            </li>
            <li
              class="breadcrumb-item active text-dark"
              aria-current="page"
            >
             TRANSACTION HISTORY
            </li>
          </ol>
        </nav>
        <!-- <h4 class="mg-b-0 tx-spacing--1">{{ title }}</h4> -->
      </div>
      <div class="d-none d-md-block"></div>
    </div>

    <div >
      <div class="mg-t-10 mt-sm-3">
        <div class="card mg-b-10">
          <div
            class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0 mb-4"
          >
            <div>
              <h6 class="mg-b-5" style="color: #041f79">TRANSACTIONS</h6>
            </div>
            <div class="">
              <div>
                <p>Filter Transactions:</p>
              </div>
             <div class="row">
              <div class="col-sm-6 mb-4">
                 <div class="btn-group flex-fill">
                <label for="sort mr-2">From: </label>
                <input (change)="formatDate()" type="datetime-local" class="form-select form-select-sm" name="sort" aria-label=".form-select-sm example" [(ngModel)]="from">
              </div>
            </div>
              <div class="col-sm-6">
                <div class="btn-group flex-fill">
                  <label for="sort mr-2">To: </label>
                  <input (change)="formatDate()" type="datetime-local" class="form-select form-select-sm" name="sort" aria-label=".form-select-sm example" [(ngModel)]="to">
                </div>
              </div>
             </div>
            </div>
          </div>
          <!-- card-header -->
          <div class="table-responsive mb-2">
            <table class="table table-dashboard mg-b-0">
              <thead>
                <tr>
                  <th>Customer ID</th>
                  <th class="">Product Description</th>
                  <th class="">Amount Charged</th>
                  <th class="">Transaction Status</th>
                  <th class="">Transaction Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="!loader && transactions !=null">
                <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: counter} let i = index">
                  <td>{{ transaction?.customer_id }}</td>
                  <td>{{ transaction?.product_description }}</td>
                  <td>{{ transaction?.amount_charged}}</td>
                  <td *ngIf="!checkStatus(transaction?.transaction_status).status; else  success"><span class="badge badge-danger">{{ checkStatus(transaction?.transaction_status).title }}</span></td>
                  
                  <ng-template #success>
                    <td><span class="badge badge-success">{{ checkStatus(transaction?.transaction_status).title }}</span></td>
                  </ng-template>

                  <td>{{ convertDate(transaction?.transaction_date) }}</td>
                  <td><button (click)="viewDetails(transaction?.request_id)" class="btn btn-sm btn-primary">View</button></td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-end m-5" *ngIf="!loader && transactions !=null">
              <div>
              <pagination-controls previousLabel="Prev" nextLabel="Next"
              (pageChange)="onPageChange($event)"  (pageChange)="page = $event" [responsive]="true"></pagination-controls>
            </div>
            </div>
          </div>
          <!-- table-responsive -->
        </div>
        <!-- card -->
      </div>
      <!-- col -->
      <div>
        <h2>{{ transactions?.customer_id }}</h2>
      </div>
    </div>

    <div *ngIf="!loader && !transactions" class="alert alert-primary" role="alert">
      No transactions to show yet!
    </div>

    <div *ngIf="loader" class="d-flex justify-content-center">
     <div class="text-center mb-5">
        <ion-spinner name="lines"></ion-spinner>
        <p>Loading Transactions....</p>
      </div>
    </div>

  </div>


</app-header>
