<app-header>

  <div class="content-body card">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#" style="color: #e82687;">MYACCOUNT</a></li>
            <li class="breadcrumb-item active text-dark" aria-current="page">BUY CABLETV</li>
          </ol>
        </nav>
        <h4 class="mg-b-0 ">{{ title }}</h4>
      </div>
      <!-- <div class="search-form mg-t-20 mg-sm-t-0">
            <input type="search" class="form-control" placeholder="Search posts">
            <button class="btn" type="button"><i data-feather="search"></i></button>
          </div> -->
    </div>

    <div class="media row">
      <div class="col-lg-8 mb-5">

        <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
          <div class="pd-t-20 wd-100p">

            <div class="form-group">
              <label>Payment Option</label>
              <select type="text" class="form-control bg-light">
                <option>Wallet Balance</option>
              </select>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between mg-b-5">
                <label class="mg-b-0-f">Tv Subscription</label>
              </div>
              <select type="text" class="form-control bg-light">
                <option>Select Tv</option>
              </select>
            </div>
            <div class="form-group">
              <label>Bouquet/Package</label>
              <select type="text" class="form-control bg-light">
                <option>Select a Package</option>
              </select>
            </div>
            <div class="form-group">
              <label>SMARTCARD/IUC NUMBER -></label>
              <input type="text" class="form-control bg-light" placeholder="IUC Number">
            </div>
            <div class="form-group">
              <label>Phone Number</label>
              <input type="text" class="form-control bg-light" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input type="text" class="form-control bg-light" placeholder="Enter your lastname">
            </div>

            <app-submit-button name="Pay Now"></app-submit-button>

          </div>
        </div><!-- sign-wrapper -->

      </div><!-- media-body -->

      <div class="col-lg-4">
     <app-side-items></app-side-items>
      </div>

    </div><!-- media -->

  </div>
 </app-header>
