<app-header>
    <div class="content-body card">
      <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <div class="page-title">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
              <li class="breadcrumb-item">
                <a href="" style="color: hsl(226, 87%, 30%)">MY ACCOUNT</a>
              </li>
              <li
                class="breadcrumb-item active text-dark"
                aria-current="page"
              >
               PAY CABLE TV
              </li>
            </ol>
          </nav>
          <h4 class="mg-b-0 tx-spacing--1">{{ title }}</h4>
        </div>
        <div class="d-none d-md-block"></div>
      </div>
  
  
      <div class="media row">
        <div class="col-lg-8 mb-5">
  
          <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
            <form [formGroup]="form" (ngSubmit)="send()">
            <div class="pd-t-20 wd-100p">
              <div class="form-group">
                  <label class="">Exam Type</label>
                  <select formControlName="ExamType" type="text" class="form-control bg-light">
                    <option value="" selected>Select exam type</option>
                  </select>
                  <small *ngIf="!form.controls.ExamType.valid && submitAttempt" class="text-danger">Exam Type is required</small>
              </div>
              <div class="form-group">
                <label>JAMB Profile ID</label>
                <input formControlName="ProfileID" type="text" class="form-control bg-light" placeholder="JAMB Profile ID">
                <small *ngIf="!form.controls.ProfileID.valid && submitAttempt" class="text-danger">Profile ID is required</small>
              </div>
              <div class="form-group">
                <label>Phone Number</label>
                <input formControlName="MeterType" type="tel" class="form-control bg-light" placeholder="Phone Number">
                <small *ngIf="!form.controls.PhoneNumber.valid && submitAttempt" class="text-danger">Phone Number length must be 11 or greater</small>
              </div>
              <div class="form-group">
                <label>Amount</label>
                <input formControlName="Amount" type="number" class="form-control bg-light" placeholder="Amount">
                <small *ngIf="!form.controls.Amount.valid && submitAttempt" class="text-danger">Amount is reqired</small>
              </div>
  
              <app-submit-button name="Pay Now"></app-submit-button>
  
            </div>
          </form>
          </div><!-- sign-wrapper -->
  
        </div><!-- media-body -->
  
        <div class="col-lg-4">
       <app-side-items></app-side-items>
        </div>
  
      </div><!-- media -->
    </div>
  
    </app-header>
  