<header class="navbar navbar-header">
  <a href="" id="mainMenuOpen" class="burger-menu"
    ><i data-feather="menu"></i
  ></a>
  <div class="navbar-brand">
    <a href="../../index.html" class="df-logo">dash<span>forge</span></a>
  </div>
  <!-- navbar-brand -->
  <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="../../index.html" class="df-logo">dash<span>forge</span></a>
      <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
    </div>
    <!-- navbar-menu-header -->
    <ul class="nav navbar-menu">
      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
      <li class="nav-item">
        <a href="../../components/" class="nav-link"
          ><i data-feather="box"></i>Home</a
        >
      </li>
      <li class="nav-item">
        <a href="../../components/" class="nav-link"
          ><i data-feather="box"></i>Contact Us</a
        >
      </li>
      <li class="nav-item">
        <a href="../../components/" class="nav-link"
          ><i data-feather="box"></i>Compensation Plan</a
        >
      </li>
      <li class="nav-item with-sub">
        <a href="" class="nav-link"
          ><i data-feather="pie-chart"></i>More Options</a
        >
        <ul class="navbar-menu-sub">
          <li class="nav-sub-item">
            <a href="dashboard-one.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Sales Monitoring</a
            >
          </li>
          <li class="nav-sub-item">
            <a href="dashboard-two.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Website Analytics</a
            >
          </li>
          <li class="nav-sub-item">
            <a href="dashboard-three.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Cryptocurrency</a
            >
          </li>
          <li class="nav-sub-item">
            <a href="dashboard-four.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Helpdesk Management</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- navbar-menu-wrapper -->
  <div class="navbar-right">
    <div class="dropdown dropdown-profile">
      <a
        href=""
        class="dropdown-link"
        data-toggle="dropdown"
        data-display="static"
      >
        <span><i data-feather="user"></i> ACCOUNT</span>
      </a>
      <!-- <div class="dropdown-menu dropdown-menu-right tx-13">
        <div class="avatar avatar-lg mg-b-15"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
        <h6 class="tx-semibold mg-b-5">Katherine Pechon</h6>
        <p class="mg-b-25 tx-12 tx-color-03">Administrator</p>

        <a href="" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
        <a href="page-profile-view.html" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
        <div class="dropdown-divider"></div>
        <a href="page-help-center.html" class="dropdown-item"><i data-feather="help-circle"></i> Help Center</a>
        <a href="" class="dropdown-item"><i data-feather="life-buoy"></i> Forum</a>
        <a href="" class="dropdown-item"><i data-feather="settings"></i>Account Settings</a>
        <a href="" class="dropdown-item"><i data-feather="settings"></i>Privacy Settings</a>
        <a href="page-signin.html" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
      </div> -->
    </div>
    <!-- dropdown -->
  </div>
  <!-- navbar-right -->
  <div class="navbar-search">
    <div class="navbar-search-header">
      <input
        type="search"
        class="form-control"
        placeholder="Type and hit enter to search..."
      />
      <button class="btn"><i data-feather="search"></i></button>
      <a id="navbarSearchClose" href="" class="link-03 mg-l-5 mg-lg-l-10"
        ><i data-feather="x"></i
      ></a>
    </div>
    <!-- navbar-search-header -->
    <div class="navbar-search-body">
      <label
        class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center"
        >Recent Searches</label
      >
      <ul class="list-unstyled">
        <li><a href="dashboard-one.html">modern dashboard</a></li>
        <li><a href="app-calendar.html">calendar app</a></li>
        <li><a href="../../collections/modal.html">modal examples</a></li>
        <li><a href="../../components/el-avatar.html">avatar</a></li>
      </ul>

      <hr class="mg-y-30 bd-0" />

      <label
        class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center"
        >Search Suggestions</label
      >

      <ul class="list-unstyled">
        <li><a href="dashboard-one.html">cryptocurrency</a></li>
        <li><a href="app-calendar.html">button groups</a></li>
        <li><a href="../../collections/modal.html">form elements</a></li>
        <li><a href="../../components/el-avatar.html">contact app</a></li>
      </ul>
    </div>
    <!-- navbar-search-body -->
  </div>
  <!-- navbar-search -->
</header>
<!-- navbar -->

<!-- <div class=""><img src="/assets/img/clubkonnect_image-50.jpg" alt="Welcome Banner" class=""> -->

  <main>
<div class="welcome-content">
  <div class="col col-lg-6 inner-content">
    <h6 class="tx-20 tx-semibold tx-spacing-1 text-light mg-b-5">
      Welcome To CLUBKONNECT
    </h6>
    <p class="tx-14 text-light">
      <b
        >We offer instant top up of airtime, data bundle, recharge card
        printing, cable tv subscription, electricity bill payment, purchase of
        weac e-pin, funding of betting wallet and so much more...</b
      >
    </p>
    <div>
      <button class="btn btn-primary text-uppercase">Login</button>
    </div>
  </div>
</div>

<div class="">
<div class="container mb-5 mt-5">
  <div class="row mb-5">
    <div class="tx-22 col-lg-6">
      <P>ENJOY UNBEATABLE DISCOUNTS ON</P>
      <div>
        <img class="img-fluid card" src="/assets/img/vendors.jpg" alt="" />
      </div>
    </div>
    <div class="col-lg-6 mt-sm-3">
      <p class="tx-15 text-center text-lg-left">
        Download And Enjoy The Features of Our App Using any mobile devices
      </p>
      <div class="row">
        <div class="col">
          <a href=""><img
            class="img-fluid"
            src="/assets/img/getit-on-playstore.png"
            alt=""
          /></a>
        </div>
        <div class="col">
         <a href=""><img
            class="img-fluid"
            src="/assets/img/getit-on-appstore.png"
            alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <h6 class="tx-22 text-center">Our Partners</h6>
  </div>

  <div class="row row-cols-3 d-flex justify-content-center">
    <div class="col-4 col-lg-2">
      <img class="img-fluid" src="/assets/img/mtn.png" alt="" />
    </div>
    <div class="col-4 col-lg-2">
      <img class="img-fluid" src="/assets/img/etisalat.png" alt="" />
    </div>
    <div class="col-4 col-lg-2">
      <img class="img-fluid" src="/assets/img/glo.png" alt="" />
    </div>
    <div class="col-4 col-lg-2">
      <img class="img-fluid" src="/assets/img/airtel.png" alt="" />
    </div>
    <div class="col-4 col-lg-2">
      <img class="img-fluid" src="/assets/img/smile.png" alt="" />
    </div>
    <div class="col-4 col-lg-2">
      <img class="img-fluid" src="/assets/img/spectranet.png" alt="" />
    </div>
  </div>
</div>
</div>

<div class="bg-light pt-4 pb-4">
<div class="container mt-4 mb-4">
  <div class="text-center">
    <h6 class="tx-22">Electronic Top Up</h6>
    <p class="tx-14">Electronic vending of data and airtime</p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-2 content-cards">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/databundle new.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h6 class="card-text">Buy Data Bundle</h6>
          <p class="card-text">
            Start enjoying this very low rates for your internet browsing
            databundle.
          </p>
          <p><a href=""> Buy Now >></a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-2">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/airtime new.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h6 class="card-text">Buy Airtime</h6>
          <p class="card-text">
            Enjoy huge discount when you purchase airtime.
          </p>
          <p><a href=""> Buy Now >></a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-2">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/cabletv new.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h6 class="card-text">CableTV Subscription</h6>
          <p class="card-text">
            Instant recharge of DStv, GOtv and Startimes e.t.c.
          </p>
          <p><a href=""> Pay Now >></a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-2">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/electricity new.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h6 class="card-text">Pay Electricity Bill</h6>
          <p class="card-text">
            Pay you electricity bill online e.g. EKEDC, IKEDC, AEDC, PHEDC e.t.c.
          </p>
          <p><a href=""> Pay Now >></a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-2">
      <div class="card">
        <img
          class="card-img-top"
          src="/assets/img/recharge-card-printing new.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h6 class="card-text">Recharge Card Printing</h6>
          <p class="card-text">
            Start your own recharge card printing business today
          </p>
          <p><a href=""> Print Now >></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div>
  <div class="container">
<div class="row pt-3 pb-3">
  <div class="col">
   <div class="card">
    <div>
      <i data-feather="user"></i>
    </div>
    <div>
      <h6>Customer Support</h6>
      <p>Open a ticket for complaint, feedback or unresolved issues</p>
      <p>Click Here >></p>
    </div>
   </div>
  </div>

  <div class="col">
    <div class="card">
     <div>
       <i data-feather="user"></i>
     </div>
     <div>
       <h6>Customer Support</h6>
       <p>Open a ticket for complaint, feedback or unresolved issues</p>
       <p>Click Here >></p>
     </div>
    </div>
   </div>

   <div class="col">
    <div class="card">
     <div>
       <i data-feather="user"></i>
     </div>
     <div>
       <h6>Customer Support</h6>
       <p>Open a ticket for complaint, feedback or unresolved issues</p>
       <p>Click Here >></p>
     </div>
    </div>
   </div>

</div>
  </div>
</div>

</main>
