<header class="navbar navbar-header">
  <a href="" id="mainMenuOpen" class="burger-menu"
    ><i data-feather="menu"></i
  ></a>
  <div class="navbar-brand">
    <a href="../../index.html" class="df-logo">dash<span>forge</span></a>
  </div>
  <!-- navbar-brand -->
  <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="../../index.html" class="df-logo">dash<span>forge</span></a>
      <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
    </div>
    <!-- navbar-menu-header -->
    <ul class="nav navbar-menu">
      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
      <li class="nav-item">
        <a href="../../components/" class="nav-link"
          ><i data-feather="box"></i>Home</a
        >
      </li>
      <li class="nav-item">
        <a href="../../components/" class="nav-link"
          ><i data-feather="box"></i>Contact Us</a
        >
      </li>
      <li class="nav-item with-sub">
        <a  class="nav-link"
          ><i data-feather="pie-chart"></i>More Options</a
        >
        <ul class="navbar-menu-sub">
          <li class="nav-sub-item">
            <a href="dashboard-one.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Sales Monitoring</a
            >
          </li>
          <li class="nav-sub-item">
            <a href="dashboard-two.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Website Analytics</a
            >
          </li>
          <li class="nav-sub-item">
            <a href="dashboard-three.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Cryptocurrency</a
            >
          </li>
          <li class="nav-sub-item">
            <a href="dashboard-four.html" class="nav-sub-link"
              ><i data-feather="bar-chart-2"></i>Helpdesk Management</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- navbar-menu-wrapper -->
  <div class="navbar-right">
    <div class="dropdown dropdown-profile">
      <a
        href=""
        class="dropdown-link"
        data-toggle="dropdown"
        data-display="static"
      >
        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase">
          REGISTER
        </button>
        <button class="btn btn-sm pd-x-15 btn-white btn-uppercase ml-2">
          LOGIN
        </button>
      </a>
      <!-- <div class="dropdown-menu dropdown-menu-right tx-13">
        <div class="avatar avatar-lg mg-b-15"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
        <h6 class="tx-semibold mg-b-5">Katherine Pechon</h6>
        <p class="mg-b-25 tx-12 tx-color-03">Administrator</p>

        <a href="" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
        <a href="page-profile-view.html" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
        <div class="dropdown-divider"></div>
        <a href="page-help-center.html" class="dropdown-item"><i data-feather="help-circle"></i> Help Center</a>
        <a href="" class="dropdown-item"><i data-feather="life-buoy"></i> Forum</a>
        <a href="" class="dropdown-item"><i data-feather="settings"></i>Account Settings</a>
        <a href="" class="dropdown-item"><i data-feather="settings"></i>Privacy Settings</a>
        <a href="page-signin.html" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
      </div> -->
    </div>
    <!-- dropdown -->
  </div>
  <!-- navbar-right -->
  <div class="navbar-search">
    <div class="navbar-search-header">
      <input
        type="search"
        class="form-control"
        placeholder="Type and hit enter to search..."
      />
      <button class="btn"><i data-feather="search"></i></button>
      <a id="navbarSearchClose" href="" class="link-03 mg-l-5 mg-lg-l-10"
        ><i data-feather="x"></i
      ></a>
    </div>
    <!-- navbar-search-header -->
    <div class="navbar-search-body">
      <label
        class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center"
        >Recent Searches</label
      >
      <ul class="list-unstyled">
        <li><a href="dashboard-one.html">modern dashboard</a></li>
        <li><a href="app-calendar.html">calendar app</a></li>
        <li><a href="../../collections/modal.html">modal examples</a></li>
        <li><a href="../../components/el-avatar.html">avatar</a></li>
      </ul>

      <hr class="mg-y-30 bd-0" />

      <label
        class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center"
        >Search Suggestions</label
      >

      <ul class="list-unstyled">
        <li><a href="dashboard-one.html">cryptocurrency</a></li>
        <li><a href="app-calendar.html">button groups</a></li>
        <li><a href="../../collections/modal.html">form elements</a></li>
        <li><a href="../../components/el-avatar.html">contact app</a></li>
      </ul>
    </div>
    <!-- navbar-search-body -->
  </div>
  <!-- navbar-search -->
</header>
<!-- navbar -->

<!-- <div class=""><img src="/assets/img/clubkonnect_image-50.jpg" alt="Welcome Banner" class=""> -->

<main>
  <div class="welcome-content">
    <div class="col col-lg-5 inner-content">
      <h6 class="tx-30 tx-semibold tx-spacing-1 tx-bold text-light mg-b-5">
        BETTER WAY TO TOPUP YOUR PHONES AND PAY YOUR BILLS ONLINE
      </h6>
      <p class="tx-15 text-light">
        <b>NellobyteSystem have Provided an easy way for paying bills online and doing topups on your mobile phone.</b>
      </p>
      <div>
        <button class="btn btn-primary text-uppercase">GET STARTED</button>
      </div>
    </div>
  </div>

  <div class="">
    <div class="container mb-5 mt-5">
      <div class="mb-4 mt-4">
        <h6 class="tx-22 tx-bold text-center">OUR PARTNERS</h6>
      </div>

      <div class="mt-5 mb-5">
        <ion-slides [options]="slideOptions" autoplay="true" loop="true">
          <ion-slide>
            <div class="col-sm-8 col-lg-6">
              <img class="img-fluid" src="/assets/img/mtn.png" alt="" />
            </div>
          </ion-slide>

          <ion-slide>
            <div class="col-sm-8 col-lg-6">
              <img class="img-fluid" src="/assets/img/etisalat.png" alt="" />
            </div>
          </ion-slide>

          <ion-slide>
            <div class="col-sm-8 col-lg-6">
              <img class="img-fluid" src="/assets/img/glo.png" alt="" />
            </div>
          </ion-slide>

          <ion-slide>
            <div class="col-sm-8 col-lg-6">
              <img class="img-fluid" src="/assets/img/airtel.png" alt="" />
            </div>
          </ion-slide>

          <ion-slide>
            <div class="col-sm-8 col-lg-6">
              <img class="img-fluid" src="/assets/img/smile.png" alt="" />
            </div>
          </ion-slide>

          <ion-slide>
            <div class="col-sm-8 col-lg-6">
              <img class="img-fluid" src="/assets/img/spectranet.png" alt="" />
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>

  <div class="bg-light pt-5 pb-5">
    <div class="container">
      <div class="mb-4 mt-4">
        <h6 class="tx-22 tx-bold text-center">WHAT WE OFFER</h6>
        <p class="text-center">
          Welcome to Clubkonnect, We offer Airtime Topup, Databundles and
          Payment of Bills.
        </p>
      </div>

      <div class="row mt-5 mb-5 align-self-center">
        <div class="col-lg-4 text-center text-lg-left mb-4 mt-2 border-lg-left">
          <i class="mb-4 offer-icons" data-feather="smartphone"></i>
          <h6 class="tx-bold">Airtime Recharge</h6>
          <p>Enjoy huge discount when you purchase airtime.</p>
          <a href="" class="tx-medium action-link">Buy Now </a>
        </div>

        <div class="col-lg-4 text-center text-lg-left mb-4 mt-2 border-lg-left">
          <i class="mb-4 offer-icons" data-feather="globe"></i>
          <h6 class="tx-bold">Buy Data Bundle</h6>
          <p>
            Start enjoying this very low rates for your internet browsing
            databundle.
          </p>
          <a href="" class="tx-medium action-link">Buy Now</a>
        </div>

        <div
          class="col-lg-4 text-center text-lg-left mb-4 mt-2 border-0 border-lg-left"
        >
          <i class="mb-4 offer-icons" data-feather="monitor"></i>
          <h6 class="tx-bold">CableTV Subscription</h6>
          <p>Instant recharge of DStv, GOtv and Startimes e.t.c.</p>
          <a href="" class="tx-medium action-link">Pay Now </a>
        </div>

        <div
          class="col-lg-4 text-center text-lg-left mb-4 mt-2 border-0 border-lg-left"
        >
          <i class="mb-4 offer-icons" data-feather="zap"></i>
          <h6 class="tx-bold">Pay Electricity Bill</h6>
          <p>
            Pay you electricity bill online e.g. EKEDC, IKEDC, AEDC, PHEDC
            e.t.c.
          </p>
          <a href="" class="tx-medium action-link">Pay Now </a>
        </div>

        <div
          class="col-lg-4 text-center text-lg-left mb-4 mt-2 border-0 border-lg-left"
        >
          <i class="mb-4 offer-icons" data-feather="printer"></i>
          <h6 class="tx-bold">Recharge Card Printing</h6>
          <p>Start your own recharge card printing business today.</p>
          <a href="" class="tx-medium action-link">Print Now </a>
        </div>

        <div
          class="col-lg-4 text-center text-lg-left mb-4 mt-2 border-0 border-lg-left"
        >
          <i class="mb-4 offer-icons" data-feather="file"></i>
          <h6 class="tx-bold">Waec EPIN</h6>
          <p>Enjoy huge discount when you purchase waec Epin.</p>
          <a href="" class="tx-medium action-link">Pay Now </a>
        </div>
      </div>
    </div>
  </div>


  <div class="mb-5 mt-5">
<div class="container ">
    <div class="row gx-5">
      <div class="col-sm-6 col-lg-6 card shadow d-flex justify-content-center  transparent-content p-3 mb-2">
        <div class="transparent-inner">
          <!-- <img src="assets/img/alloffering.png" alt=""> -->
        </div>
      </div>
      <div class="col-sm-6 col-lg-6  order-lg-first">
        <div>
          <h5 class="tx-30 tx-bold">Topup Your Phones And Pay Your Bills From Anywhere</h5>
          <p class="tx-20">Do you want to buy airtime, databundles or pay your bill and you are too tired to go out?
            <br>
            We offer instant recharge of Airtime, Databundle, CableTV (DStv, GOtv & Startimes), Electricity Bill Payemnt, Recharge Card Printing and so much more.
          </p>
          <div>
            <button type="button" class="btn btn-lg btn-primary" disabled>Register Now</button>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="container">
      <div class="mb-5 mt-5">
        <hr>
        <!-- <h6 class="tx-22 tx-bold text-center">GETTING STARTED</h6> -->
      </div>

      <div class="row mt-5 mb-5 pt-5 border-top">
        <div class="col-lg-4 text-center mb-4 g-5">
          <div class="p-2 gs-contents">
            <i class="fa fa-rocket mb-2 offer-icons mt-3"></i>
            <h6>Easy Transactions</h6>
            <p>All transactions are processed real-time and airtime/data delivered instantly</p>
          </div>
        </div>

        <div class="col-lg-4 text-center mb-4">
          <div class="p-2 gs-contents">
            <i class="fa fa-lock mb-2 offer-icons mt-3"></i>
            <h6>Sucurity</h6>
            <p>Your personal account created on NellobyteSystems is safe secured.</p>
          </div>
        </div>

        <div class="col-lg-4 text-center mb-4">
          <div class=" p-2 gs-contents">
            <i class="fa fa-life-ring mb-2 offer-icons mt-3"></i>
            <h6>Quality Support</h6>
            <p>We provide you with 24/7 Help & Support.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
  <div class="bg-dark">
    <div class="bg-light mb-5">
    <div class="container">
      <div class="row pt-2 pb-2">
      <div class="col-sm-6 col-lg-3 border-right">
      <h6>Social Media Links</h6>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex">
      <h6 class="mr-2"> <i data-feather="facebook"></i></h6>
      <h6 class="mr-2"> <i data-feather="instagram"></i></h6>
      <h6 class="mr-2"> <i data-feather="twitter"></i></h6>
      <h6 class="mr-2"> <i data-feather="whatsapp"></i></h6>
      </div>
     </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 text-start mb-3">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti neque, at corporis dicta porro vitae repellendus non unde possimus iure provident quaerat nihil blanditiis, delectus, sit incidunt rerum iste odit.
          <p>School Lakowe, Ibeju-Lekki,Lagos.</p>
           <p>clintononitsha@gmail.com</p>
           <p>08128161958</p>
           <p>Opens 7:00am - 5:00pm</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-start text-lg-center mb-3">
        <p><a href="">Home</a></p>
        <p><a href="">Contact Us</a></p>
        <p><a href="">Terms of use</a></p>
        <p><a href="">Privacy policy</a></p>
        </div>
        <div class="col-sm-6 col-lg-4 text-start text-lg-center mb-3">
          <p><a href="">Buy Airtime</a></p>
          <p><a href="">Buy Databundle</a></p>
          <p><a href="">Pay Electrical Bill</a></p>
          <p><a href="">Fund Betting Wallet</a></p>
          <p><a href="">Print Recharge Card</a></p>
          <p><a href="">Waec Epin</a></p>
        </div>
      </div>
    </div>

    <div class="bg-light mt-5">
      <div class="container pt-2 pb-2">
        <h6>© Copyright 2017 | Nellobyte Systems Ltd</h6>
      </div>
    </div>

  </div>
</footer>
</main>
