<app-header></app-header>
<div class="content content-fixed bd-b upper-contents">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#" style="color: #e82687;">MYACCOUNT</a></li>
            <li class="breadcrumb-item active text-light" aria-current="page">DEPOSIT</li>
          </ol>
        </nav>
        <h4 class="mg-b-0 text-light">Deposit Money</h4>
      </div>
      <!-- <div class="search-form mg-t-20 mg-sm-t-0">
            <input type="search" class="form-control" placeholder="Search posts">
            <button class="btn" type="button"><i data-feather="search"></i></button>
          </div> -->
    </div>
  </div><!-- container -->
</div><!-- content -->

<div class="content">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="media d-block d-lg-flex">
      <div class="media-body">

        <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
          <div class="pd-t-20 wd-100p">

            <div class="form-group">
              <label>Amount To Deposit</label>
              <input type="text" class="form-control" placeholder="Amount">
            </div>

            <div class="form-group">
              <label>Choose How You Will Pay</label>
              <select type="text" class="form-control" placeholder="Enter your email address">
                <option class="" selected>Selelct a Payment Method</option>
                <option value="">ATM Card (interswitch 1.5%) - ₦100.00 to ₦9,500.00</option>
                <option value=""> Cash Deposit or Mobile/Internet Bank Transfer(instant) - ₦100.00 to ₦5,000,000.00</option>
              </select>
              </div>
            <!-- <div class="form-group tx-12">
                By clicking <strong>Create an account</strong> below, you agree to our terms of service and privacy statement.
              </div> -->

            <button class="btn btn-brand-02 btn-block btn-lg">Click To Proceed</button>

          </div>
        </div><!-- sign-wrapper -->

      </div><!-- media-body -->

      <div class="profile-sidebar mx-wd-300 mg-t-40 mg-lg-t-0 pd-lg-l-25">

        <div class="card mb-5">
          <div class="card-header">
            Join Our Referal Program
          </div>
          <div class="p-1">
            <p>you'll earn a 5% Commission for airtime, databundle, recharge card printing, cable tv subscription, electrical bill payment, purchase of waec e-pin, funding of beting wallet. </p>
            <p>Plus an additional 30% referral commision.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Quick Actions
          </div>
          <ul class="mt-3 mb-3">
            <li><a href="">Airime Recharge</a></li>
            <li><a href="">Data Bundle</a></li>
            <li><a href="">Fund Betting Wallet</a></li>
            <li><a href="">Recharge Card Printing</a></li>
            <li><a href="">CableTV Subscription</a></li>
            <li><a href="">Electrical Bill Payment</a></li>
            <li><a href="">Purchase of Waec e-pin</a></li>
          </ul>
        </div>


      </div><!-- profile-sidebar -->
    </div><!-- media -->
  </div><!-- container -->
</div><!-- content -->
