<app-header>
  <div class="content-body">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="" class="text-dark">MYACCOUNT</a>
            </li>
            <li class="breadcrumb-item active text-dark" aria-current="page" style="color: #041f79;">
              DASHBOARD
            </li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">WELCOME TO DASHBOARD</h4>
      </div>
      <div class="d-none d-md-block"></div>
    </div>

    <!-- tytuutiyiyh -->
    <div class="">
      <div class="card m-1" style="height: 100%">
        <div class="card-body">
          <h6
            class="tx-20 tx-semibold tx-uppercase tx-spacing-1 mg-b-5" style="color: #041f79;"
          >
            WALLET BALANCE
          </h6>
          <h2 class="tx-38 tx-rubik tx-spacing--1 mg-b-5">₦0.00</h2>
          <p class="tx-11 tx-color-03 mg-b-0"></p>
          <p class="mt-2">
            <a href="" class="tx-medium"
              >Fund Wallet <i class="icon ion-md-arrow-forward mg-l-5"></i
            ></a>
          </p>
        </div>
      </div>
    </div>

    <!-- sadasdasdads -->

    <div class="row p-2">
      <div class="col-lg-4 p-1">
        <div class="card shadow border-0 m-1" style="height: 100%">
          <div class="card-body pd-y-20 pd-x-25">
            <i class="fa fa-mobile middle-icons m-3" aria-hidden="true"></i>
            <p>Enjoy huge discount when you purchase airtime.</p>
            <a href="" class="tx-medium"
              >Buy Now <i class="icon ion-md-arrow-forward mg-l-5"></i
            ></a>
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->
      </div>

      <div class="col-lg-4 p-1">
        <div class="card shadow border-0 m-1" style="height: 100%">
          <div class="card-body pd-y-20 pd-x-25">
            <i class="fa fa-globe middle-icons m-3" aria-hidden="true"></i>
            <p>
              Start enjoying this very low rates for your internet browsing
              databundle.
            </p>
            <a href="" class="tx-medium"
              >Buy Now <i class="icon ion-md-arrow-forward mg-l-5"></i
            ></a>
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->
      </div>

      <div class="col-lg-4 p-1">
        <div class="card shadow border-0 m-1" style="height: 100%">
          <div class="card-body pd-y-20 pd-x-25">
            <i class="fa fa-bolt middle-icons m-3"></i>
            <p>
              Pay you electricity bill online e.g. EKEDC, IKEDC, AEDC, PHEDC
              e.t.c.
            </p>
            <a href="" class="tx-medium"
              >Pay Now<i class="icon ion-md-arrow-forward mg-l-5"></i
            ></a>
          </div>
          <!-- card-body -->
        </div>
        <!-- card -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-xl-8 mg-t-10 mt-sm-3 order-last order-lg-first">
        <div class="card mg-b-10">
          <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0 mb-4">
            <div>
              <h6 class="mg-b-5" style="color: #041f79;">RECENT TRANSACTIONS</h6>
              <!-- <p class="tx-13 tx-color-03 mg-b-0">Your sales and referral earnings over the last 30 days</p> -->
              <a href="" class="tx-medium"
              >View All Transactions<i class="icon ion-md-arrow-forward mg-l-5"></i
            ></a>
            </div>
            <div class="d-flex mg-t-20 mg-sm-t-0">
              <div class="btn-group flex-fill">
                <button class="btn btn-white btn-xs active">Range</button>
                <button class="btn btn-white btn-xs">Period</button>
              </div>
            </div>
          </div><!-- card-header -->
          <div class="table-responsive mb-2">
            <table class="table table-dashboard mg-b-0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th class="text-right">Status</th>
                  <th class="text-right">ID</th>
                  <th class="text-right">Amount</th>
                  <th class="text-right">Profit</th>
                  <th>Mobile Number</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div><!-- card -->
      </div><!-- col -->

      <div class="col">
        <div class="card shadow border-0 mt-2" style="height: 100%">
          <div class="card-body pd-y-20 pd-x-25">
            <h6>HELP DESK</h6>
            <p>
              Open a ticket for complaint, feedback or unresolved issues
            </p>
            <a href="" class="tx-medium"
              >Click Here<i class="icon ion-md-arrow-forward mg-l-5"></i
            ></a>
          </div>
          <!-- card-body -->
        </div>
      </div>

    </div>

  </div>
</app-header>
