<div class="content content-fixed bd-b upper-contents">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#" style="color: #e82687;">MYACCOUNT</a></li>
            <li class="breadcrumb-item active text-light" aria-current="page">DEPOSIT</li>
          </ol>
        </nav>
        <h4 class="mg-b-0 text-light">Deposit Money</h4>
      </div>
      <!-- <div class="search-form mg-t-20 mg-sm-t-0">
            <input type="search" class="form-control" placeholder="Search posts">
            <button class="btn" type="button"><i data-feather="search"></i></button>
          </div> -->
    </div>
  </div><!-- container -->
</div><!-- content -->
