
<div class="card shadow mb-3">
  <h6 class="ml-4">Quick Actions</h6>
<div class="card-body">

 <div class="row no-gutters">
  <div class="col-4 p-1" *ngFor="let quicklink of quickLinks">
    <div class="card text-center align-self-middle pt-3 bg-light" style="min-height: 100%;">
      <i [class]="'fa '+ quicklink.icon +' icn mb-2'"></i>
      <p>{{ quicklink.name }}</p>
    </div>
  </div>
 </div>

</div>
</div>


<div class="card shadow border-0 mt-2" style="height: 100%">
  <div class="card-body pd-y-20 pd-x-25">
    <h6>HELP DESK</h6>
    <p>
      Open a ticket for complaint, feedback or unresolved issues
    </p>
    <a href="" class="tx-medium"
      >Click Here<i class="icon ion-md-arrow-forward mg-l-5"></i
    ></a>
  </div>
  <!-- card-body -->
</div>

